$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary: #003859;
$color-second : #00A5C4;
$color-yellow: #FFD289; 
$icon-size: 1.25rem;
$text-size: 0.875rem;
$mobile-breakpoint: 767px;
$line-height-small: 1.2;